li{
    list-style-type: none;
    padding: 20px;
    text-align: center;
}
footer{
    display: flex;
    width:100%;
    background-color: lightgrey;
    height: fit-content;
    flex: 1 1 1;
}
ul{
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;

}
#leftList{
    float: left;
}
#rightList{
    float: right;
}
p{
    display: flex;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}
li:first-child{
    font-weight: bolder;
    font-size: larger;
}